<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <div th:if="${session.user==null}"><a th:href="@{'/toRegist'}">注册</a>
        <a th:href="@{'/toLogin'}">登录</a></div>
    <div th:if="${session.user!=null}"><span th:text="${session.user.name}"></span>
        <a th:href="@{'/logout'}">注销</a></div>
    <a th:href="@{'/toAddArticle'}">添加文章</a>
    <a th:href="@{'/testRedirect'}">test</a>
    <tr th:each="article:${list}">
        <a th:href="@{'/article?id='+${article.id}}" th:text="${article.title}"></a>
        <a th:href="@{'/manage/deleteArticle?id='+${article.id}}">删除</a>
        <a th:href="@{'/manage/toUpdateArticle?id='+${article.id}}">修改</a>
    </tr>
    <tr th:each="article1:${pagelist}">
        <a th:href="@{'/article?id='+${article1.id}}" th:text="${article1.title}"></a>
        <a th:href="@{'/manage/deleteArticle?id='+${article1.id}}">删除</a>
        <a th:href="@{'/manage/toUpdateArticle?id='+${article1.id}}">修改</a>
    </tr>
    <form action="/findArticle" method="post">
        <input type="text" name = "namelike" />
        <input type="submit" value = "search"/>
    </form>
</body>
</html>